In [17]:
import pandas as pd
import numpy as np

In [18]:
def mean(x):
    return float( sum(x) ) / len(x)

def median(x):
    n = len(x)
    sorted_x = sorted(x)
    midpoint = n / 2
    print midpoint
    if n % 2 == 1:
        return sorted_x[midpoint]
    else:
        lo = midpoint - 1
        hi = midpoint
    return ( sorted_x[lo] + sorted_x[hi] )/2

# most common value(s)
def mode(x):
    counts = Counter(x)
    max_count = max(counts.values())
    return [ x_i for x_i, count in counts.iteritems() if count == max_count ]
    
def quantile( x, p ):
    p_index = int(p*len(x))
    return sorted(x)[p_index]
def data_range(x):
    return max(x) - min(x)
def de_mean(x):
    x_mean = mean(x)
    return [ x_i - x_mean for x_i in x ]
def variance( x ):
    n = len(x)
    deviations = de_mean(x)
    return sum_of_squares(deviations)/(n-1)
def standard_deviation(x):
    return math.sqrt(variance(x))

In [19]:
import math
from collections import Counter

def sum_of_squares(v):
    """computes the sum of squared elements in v"""
    return sum(v_i ** 2 for v_i in v)

def dot(v, w):
    """v_1 * w_1 + ... + v_n * w_n"""
    return sum(v_i * w_i
               for v_i, w_i in zip(v, w))

In [62]:
col_names = ["age","workclass","fnlwgt","education","education_num","marital_status","occupation","relationship","race","sex","capital_gain","capital_loss","hours_per_weak","native_country","class_label"]
data = pd.read_csv( "adult.data.txt",names= col_names ,delimiter=',' )
X=np.asarray(data[["age","workclass","fnlwgt","education","education_num","marital_status","occupation","relationship","race","sex","capital_gain","capital_loss","hours_per_weak","native_country"]])
Y = np.asarray(data[['class_label']])

In [63]:
print mean(X[:,0])
print variance( X[:,0] )
print standard_deviation( X[:,0] )

38.5816467553
186.061400249
13.6404325536

In [64]:
for i in xrange( X.shape[1]):
    if isinstance(X[0,i],long):
        print "Feature Type is Numerical "  , "Feature index" ,i  ,"Mean ",mean(X[:,i]), "Range" ,data_range( X[:,i]) 
        print "Mode" ,mode(X[:,i]) , " Variance", variance( X[:,i] ) , " Standard Deviation ",standard_deviation(X[:,i] )
        print "============================================================"
    else:
        print "Feature is Categorical " , "Feature index" ,i 
        print "Unique values ", np.unique( X[:,i] )
        print "============================================================"

Feature Type is Numerical  Feature index 0 Mean  38.5816467553 Range 73
Mode [36L]  Variance 186.061400249  Standard Deviation  13.6404325536
============================================================
Feature is Categorical  Feature index 1
Unique values  [' ?' ' Federal-gov' ' Local-gov' ' Never-worked' ' Private'
 ' Self-emp-inc' ' Self-emp-not-inc' ' State-gov' ' Without-pay']
============================================================
Feature Type is Numerical  Feature index 2 Mean  189778.366512 Range 1472420
Mode [164190L, 203488L, 123011L]  Variance 11140797791.8  Standard Deviation  105549.977697
============================================================
Feature is Categorical  Feature index 3
Unique values  [' 10th' ' 11th' ' 12th' ' 1st-4th' ' 5th-6th' ' 7th-8th' ' 9th'
 ' Assoc-acdm' ' Assoc-voc' ' Bachelors' ' Doctorate' ' HS-grad' ' Masters'
 ' Preschool' ' Prof-school' ' Some-college']
============================================================
Feature Type is Numerical  Feature index 4 Mean  10.0806793403 Range 15
Mode [9L]  Variance 6.61888990703  Standard Deviation  2.57272033207
============================================================
Feature is Categorical  Feature index 5
Unique values  [' Divorced' ' Married-AF-spouse' ' Married-civ-spouse'
 ' Married-spouse-absent' ' Never-married' ' Separated' ' Widowed']
============================================================
Feature is Categorical  Feature index 6
Unique values  [' ?' ' Adm-clerical' ' Armed-Forces' ' Craft-repair' ' Exec-managerial'
 ' Farming-fishing' ' Handlers-cleaners' ' Machine-op-inspct'
 ' Other-service' ' Priv-house-serv' ' Prof-specialty' ' Protective-serv'
 ' Sales' ' Tech-support' ' Transport-moving']
============================================================
Feature is Categorical  Feature index 7
Unique values  [' Husband' ' Not-in-family' ' Other-relative' ' Own-child' ' Unmarried'
 ' Wife']
============================================================
Feature is Categorical  Feature index 8
Unique values  [' Amer-Indian-Eskimo' ' Asian-Pac-Islander' ' Black' ' Other' ' White']
============================================================
Feature is Categorical  Feature index 9
Unique values  [' Female' ' Male']
============================================================
Feature Type is Numerical  Feature index 10 Mean  1077.64884371 Range 99999
Mode [0L]  Variance 54542539.1784  Standard Deviation  7385.29208484
============================================================
Feature Type is Numerical  Feature index 11 Mean  87.303829735 Range 4356
Mode [0L]  Variance 162376.937814  Standard Deviation  402.960218649
============================================================
Feature Type is Numerical  Feature index 12 Mean  40.4374558521 Range 98
Mode [40L]  Variance 152.45899505  Standard Deviation  12.3474286817
============================================================
Feature is Categorical  Feature index 13
Unique values  [' ?' ' Cambodia' ' Canada' ' China' ' Columbia' ' Cuba'
 ' Dominican-Republic' ' Ecuador' ' El-Salvador' ' England' ' France'
 ' Germany' ' Greece' ' Guatemala' ' Haiti' ' Holand-Netherlands'
 ' Honduras' ' Hong' ' Hungary' ' India' ' Iran' ' Ireland' ' Italy'
 ' Jamaica' ' Japan' ' Laos' ' Mexico' ' Nicaragua'
 ' Outlying-US(Guam-USVI-etc)' ' Peru' ' Philippines' ' Poland' ' Portugal'
 ' Puerto-Rico' ' Scotland' ' South' ' Taiwan' ' Thailand'
 ' Trinadad&Tobago' ' United-States' ' Vietnam' ' Yugoslavia']
============================================================

In [65]:
print data.describe()

                age        fnlwgt  education_num  capital_gain  capital_loss  \
count  32561.000000  3.256100e+04   32561.000000  32561.000000  32561.000000
mean      38.581647  1.897784e+05      10.080679   1077.648844     87.303830
std       13.640433  1.055500e+05       2.572720   7385.292085    402.960219
min       17.000000  1.228500e+04       1.000000      0.000000      0.000000
25%       28.000000  1.178270e+05       9.000000      0.000000      0.000000
50%       37.000000  1.783560e+05      10.000000      0.000000      0.000000
75%       48.000000  2.370510e+05      12.000000      0.000000      0.000000
max       90.000000  1.484705e+06      16.000000  99999.000000   4356.000000

       hours_per_weak
count    32561.000000
mean        40.437456
std         12.347429
min          1.000000
25%         40.000000
50%         40.000000
75%         45.000000
max         99.000000

In [67]:
result = data.groupby(['native_country','class_label']).size()

In [69]:
print data.groupby(['native_country','class_label'])

<pandas.core.groupby.DataFrameGroupBy object at 0x000000000C27B588>

In [70]:
print result

native_country               class_label
 ?                            <=50K           437
                              >50K            146
 Cambodia                     <=50K            12
                              >50K              7
 Canada                       <=50K            82
                              >50K             39
 China                        <=50K            55
                              >50K             20
 Columbia                     <=50K            57
                              >50K              2
 Cuba                         <=50K            70
                              >50K             25
 Dominican-Republic           <=50K            68
                              >50K              2
 Ecuador                      <=50K            24
                              >50K              4
 El-Salvador                  <=50K            97
                              >50K              9
 England                      <=50K            60
                              >50K             30
 France                       <=50K            17
                              >50K             12
 Germany                      <=50K            93
                              >50K             44
 Greece                       <=50K            21
                              >50K              8
 Guatemala                    <=50K            61
                              >50K              3
 Haiti                        <=50K            40
                              >50K              4
                                            ...
 Mexico                       >50K             33
 Nicaragua                    <=50K            32
                              >50K              2
 Outlying-US(Guam-USVI-etc)   <=50K            14
 Peru                         <=50K            29
                              >50K              2
 Philippines                  <=50K           137
                              >50K             61
 Poland                       <=50K            48
                              >50K             12
 Portugal                     <=50K            33
                              >50K              4
 Puerto-Rico                  <=50K           102
                              >50K             12
 Scotland                     <=50K             9
                              >50K              3
 South                        <=50K            64
                              >50K             16
 Taiwan                       <=50K            31
                              >50K             20
 Thailand                     <=50K            15
                              >50K              3
 Trinadad&Tobago              <=50K            17
                              >50K              2
 United-States                <=50K         21999
                              >50K           7171
 Vietnam                      <=50K            62
                              >50K              5
 Yugoslavia                   <=50K            10
                              >50K              6
Length: 82, dtype: int64

In [75]:
from collections import defaultdict
c = np.unique(data.native_country)
k = np.unique(data.class_label)

table = defaultdict( lambda: defaultdict(int) )
for i,v in enumerate( result):
    table[ c[ i/2 ] ][k[i%2] ] = v

In [85]:
z = []
for k,v in table.iteritems():
    print k, "overall" , sum( v.values() ) , "hight ", v[" <=50K"] , " low", v[" >50K"]
    ration = float(v[" <=50K"] ) / v[" >50K"]
    print ration
    z.append(ration)

 Columbia overall 59 hight  57  low 2
28.5
 Cuba overall 95 hight  70  low 25
2.8
 Puerto-Rico overall 12 hight  9  low 3
3.0
 Outlying-US(Guam-USVI-etc) overall 31 hight  29  low 2
14.5
 El-Salvador overall 106 hight  97  low 9
10.7777777778
 Guatemala overall 64 hight  61  low 3
20.3333333333
 Holand-Netherlands overall 13 hight  1  low 12
0.0833333333333
 United-States overall 67 hight  62  low 5
12.4
 China overall 75 hight  55  low 20
2.75
 Thailand overall 19 hight  17  low 2
8.5
 Haiti overall 44 hight  40  low 4
10.0
 Germany overall 137 hight  93  low 44
2.11363636364
 Iran overall 37 hight  18  low 19
0.947368421053
 Greece overall 29 hight  21  low 8
2.625
 Dominican-Republic overall 70 hight  68  low 2
34.0
 Poland overall 37 hight  33  low 4
8.25
 Philippines overall 60 hight  48  low 12
4.0
 Trinadad&Tobago overall 29170 hight  21999  low 7171
3.06777297448
 Vietnam overall 16 hight  10  low 6
1.66666666667
 South overall 51 hight  31  low 20
1.55
 Honduras overall 15 hight  1  low 14
0.0714285714286
 Mexico overall 65 hight  33  low 32
1.03125
 Portugal overall 114 hight  102  low 12
8.5
 England overall 90 hight  60  low 30
2.0
 Jamaica overall 48 hight  10  low 38
0.263157894737
 India overall 65 hight  40  low 25
1.6
 Hungary overall 63 hight  3  low 60
0.05
 Japan overall 40 hight  24  low 16
1.5
 Taiwan overall 18 hight  15  low 3
5.0
 ? overall 583 hight  437  low 146
2.99315068493
 Nicaragua overall 16 hight  2  low 14
0.142857142857
 Canada overall 121 hight  82  low 39
2.10256410256
 Hong overall 16 hight  6  low 10
0.6
 Italy overall 96 hight  25  low 71
0.352112676056
 Scotland overall 80 hight  64  low 16
4.0
 France overall 29 hight  17  low 12
1.41666666667
 Cambodia overall 19 hight  12  low 7
1.71428571429
 Ecuador overall 28 hight  24  low 4
6.0
 Laos overall 612 hight  2  low 610
0.00327868852459
 Peru overall 198 hight  137  low 61
2.24590163934
 Ireland overall 53 hight  5  low 48
0.104166666667

In [119]:
#print sorted(z)

In [118]:
#print data

In [117]:
#print data.iloc[np.random.permutation(len(data))]